<!DOCTYPE html>
<html lang="en">
<!--NOTE: I worked with my TA, Jay Yu, on this homework during a joint homework help session on April 9, 2021--> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <!--Website opener--> 
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
  <!--Button to initiate scraper--> 
      <p><a class="btn btn-primary btn-lg" href="/scrape_mars" role="button">Update</a></p>
    </div>
    <div class="col-sm-12">
  <!--Using jinja to display news--> 
      <h2>Latest Mars News</h2>
      <h4>{{ mars_html.news_title }}</h4>
      <p>{{ mars_html.news_p }}</p>
    </div>
  </div>
  <hr class="style13">
  <!--Using jinja to display featured image--> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Featured Image</h2>
        <img class="img-fluid" src="{{ mars_html.featured_image_url }}" alt="Featured Image">
        <br>
      </div>
  <!--Using jinja to display Mars facts table--> 
      <div class="col-md-6">
        <h2>Mars Facts</h2>
        {{ mars_html.mars_table_html | safe}}
        <br><br>
      </div>
    </div>
  </div>
  <hr class="style13">
  <!--For loop with jinja to grap all hemisphere photos-->       
  <div class="container-fluid">
    <div class="row">
      {% for hemisphere in mars_html.hemisphere_img_urls %}
      <div class="col-md-3">
        <div class="caption">{{ hemisphere.title }}</div>
        <img src="{{ hemisphere.img_url }}" class="img-thumbnail" alt="{{ hemisphere.title }}" style="width:256px; height: 256px;">
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
